[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
scipy = "*"
h5py = "*"
ttvfast = "*"
seaborn = "*"
sklearn = "*"
corner = "*"
ptemcee = "*"
pandas = "==0.25.1"

[requires]
python_version = "3.7"
